/Blueprism.Wordlist.Core/bin/Debug/net6.0
/Blueprism.Wordlist.Core/obj/Debug/net6.0/*
/Blueprism.Wordlist.Runner/bin/Debug/net6.0
/Blueprism.Wordlist.Runner/obj/Debug/net6.0/ref
/Blueprism.Wordlist.Runner/obj/Debug/net6.0/refint
/Blueprism.WordList.Tests/bin/Debug/net6.0/*
/Blueprism.Wordlist.Runner/obj/Debug/net6.0/*
/Blueprism.WordList.Tests/obj/Debug/net6.0/*
